.bigbody {
    margin: 0;
    background-color: #ffaca4;
}

.direction {
    background-color: #FFEFD4;
}

h4 {
    margin: 1%;
}

.review {
    text-align: center;
    font-size: small;
    background-color: #ffefd4;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;

}

.review p {
    margin: 0%;
}

.art1 {
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3%;
}

.artimage {
    position: relative;
    background: url(../img/orangecat.webp);
    background-size: cover;
    background-position: center;
    height: 50vh;
    min-width: 70vh;
    border-radius: 15px;
}

.intro {
    display: flex;
    flex-direction: column;
    margin-top: -2%;
    padding-left: 3%;
    text-align: left;
}

.infobig {
    display: flex;
    align-self: left;
}

.info {
    margin-top: 5px;
}

.infosmall {
    display: flex;
    justify-content: left;
}

.paw {
    height: 4vh;
}

.infosmalltext {
    font-size: 100%;
    padding-top: 3px;
    padding-left: 10px;
}

.credit {
    margin: auto;
    color: #6d1f34;
    text-align: center;
    border: solid 1px;
    border-radius: 70px;
    width: fit-content;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.catintro {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 100%;
}

.box {
    box-shadow: #f97b6f 7px 7px;
    background-color: #ffaca4;
    border-radius: 15px;
    margin-bottom: 2%;
}

.margin {
    margin-left: 5%;
    margin-right: 5%;
}

.charaspecbox {
    padding: 30px;

}

.charaborder {
    border: 1px solid #6d1f34;
    border-radius: 15px;
}

.chara {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 28px;
}

h2.chtext {
    font-size: 200%;
    text-align: center;
}

p.chatext {
    font-size: 100%;
    padding-top: 2px;
}

.bigstats {
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-top: -10px;
}

.midstats {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 15px;
}

.stats {
    display: flex;
    justify-content: left;
    margin-top: 5px;
}

.pawstats {
    margin-left: 5px;
}

.pawgone {
    opacity: 0;
}

.energy {
    margin-left: 40px;
}

.health {
    margin-left: 42px;
}

.social {
    margin-left: 12px;
}

.life {
    margin-left: 25px;
}

.imagesettings {
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.articleimage {
    display: flex;
    height: 38vh;
    width: 100%;
}

.turkvan1 {
    background-image: url(../img/turkishvan.jpg);
}

.turkvan2 {
    background-image: url(../img/turkishvankedisi.jpg);
}

.mainsec2 {
    display: flex;
    justify-content: space-between;
    align-items: Center;
    margin-top: 2%;
    padding-top: 7px;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.catintrobox {
    margin-top: 15px;
    margin-left: 18px;
    margin-right: 23px;
}

.catintrotext {
    text-align: center;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.titleinfo {
    margin-bottom: 18px;
    text-align: left;
}

.otherspecbox {
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.subsec {
    display: flex;
    justify-content: center;
    gap: 2%;
}


.mainsec3 {
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.curious {
    position: absolute;
    height: 20vh;
    width: auto;
    margin-left: 44%;
    margin-right: auto;
    z-index: -100;
}

.topbox {
    display: flex;
    flex-direction: column;
    position: relative;
}

.topboxsub {
    margin-top: 18vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.topboxtext {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 3px;
}

.secondbox {
    margin-top: 1%;
}

.subsubbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subsubboxmar {
    margin-bottom: 4%;
}

@media screen and (max-width:900px) {
    .art1 {
        flex-direction: column;
    }

    .artimage {
        height: 50vh;
        width: 50vh;
    }

    .credit {
        margin-top: 7%;
    }

    .catintro {
        margin-top: 5%;
        margin-bottom: 8%;
    }

    .intro {
        margin-bottom: 5%;
    }

    .infobig {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .bigstats {
        flex-direction: column;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .midstats {
        margin-top: 0px;
    }

    .mainsec2 {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }

    .box {
        margin-bottom: 5%;
    }

    .otherspecbox {
        margin-bottom: 5%;
    }

    .subsec {
        display: flex;
        flex-direction: column;
    }

    .mainsec3 {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        margin-bottom: 15%;
    }

    .topbox {
        margin-bottom: 3%;
    }

    .curious {
        margin-left: 33%;
    }

    .articleimage {
        height: 60vh;
        width: 90%;
    }
}