.bigbody {
    margin: 0;
    background-color: #ffaca4;
}

.direction {
    background-color: #FFEFD4;
}

.phoneblk {
    display: none;
}

h4 {
    margin: 1%;
}

.review {
    text-align: center;
    font-size: small;
    background-color: #ffefd4;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.review p {
    margin: 0%;
}

.art1 {
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3%;
}

.artimage {
    position: relative;
    background: url(../img/orangecat.webp);
    background-size: cover;
    background-position: right;
    min-height: 500px;
    width: 500%;
    border-radius: 15px;
}

.intro {
    display: flex;
    flex-direction: column;
    margin-top: -2%;
    padding-left: 3%;
    text-align: left;
}

.infobig {
    display: flex;
    align-self: left;
}

.info {
    margin-top: 5px;
}

.infosmall {
    display: flex;
    justify-content: left;
}

.infopaw {
    max-height: 35px;
    max-width: 55px;
}

.paw {
    min-height: 10px;
    width: 11%;
}

.infosmalltext {
    font-size: 100%;
    padding-top: 4px;
    padding-left: 10px;
}

.credit {
    margin: auto;
    color: #6d1f34;
    text-align: center;
    border: solid 1px;
    border-radius: 70px;
    width: fit-content;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.catintro {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 100%;
}

.box {
    box-shadow: #f97b6f 7px 7px;
    background-color: #ffaca4;
    border-radius: 15px;
    margin-bottom: 2%;
}

.margin {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

.charaspecbox {
    padding: 30px;

}

.charaborder {
    border: 1px solid #6d1f34;
    border-radius: 15px;
}

.chara {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 28px;
}

h2.chtext {
    font-size: 200%;
    text-align: center;
}

p.chatext {
    font-size: 100%;
    padding-top: 2px;
}

.bigstats {
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-top: -10px;
}

.midstats {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 15px;
}

.stats {
    display: flex;
    justify-content: left;
    margin-top: 5px;
}

.pawstats {
    margin-left: 5px;
}

.pawgone {
    opacity: 0;
}

.energy {
    margin-left: 40px;
}

.health {
    margin-left: 42px;
}

.social {
    margin-left: 12px;
}

.life {
    margin-left: 25px;
}

.imagesettings {
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.articleimage {
    display: flex;
    min-height: 300px;
    width: 100%;
}

.mainsec2 {
    display: flex;
    justify-content: space-between;
    align-items: Center;
    margin-top: 1%;
    padding-top: 7px;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.catintrobox {
    margin-top: 15px;
    margin-left: 18px;
    margin-right: 23px;
}

.catintrotext {
    text-align: center;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.titleinfo {
    margin-bottom: 18px;
}

.otherspecbox {
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.subsec {
    display: flex;
    justify-content: center;
    gap: 2%;
}


.mainsec3 {
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.curious {
    position: absolute;
    max-height: 300px;
    width: 15%;
    left: 42%;
    top: 0;
    z-index: -100;
}

.topbox {
    display: flex;
    flex-direction: column;
    position: relative;
}

.topboxsub {
    margin-top: 13%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.topboxtext {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 3px;
}

.secondbox {
    margin-top: 1%;
}

.subsubbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subsubboxmar {
    margin-bottom: 4%;
}

.nextbigcontainer {
    position: relative;
    display: flex;
    gap: 30px;
    margin: 3%;
    margin-top: 0%;
}


.readbox {
    box-shadow: #f97b6f 7px 7px;
    background-color: #ffaca4;
    border-radius: 15px;
    padding: 30px;
    margin: 32px;
}

.duration {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #fdefd5;
    background-color: #6d1f34;
    border-radius: 45px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.duration h5 {
    margin: 0%;
    font-weight: 100;
}

.read1 {
    position: relative;
    background: url(../img/piebaldtuxedo.png);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    min-height: 300px;
}

.read2 {
    position: relative;
    background: url(../img/tortietomcats.png);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    min-height: 300px;
}

.read3 {
    position: relative;
    background: url(../img/chimerism.png);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    min-height: 300px;
}

.read4 {
    position: relative;
    background: url(../img/domblueeye.png);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    min-height: 300px;
}

.read5 {
    position: relative;
    background: url(../img/tabbytaqpep.png);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    min-height: 300px;
}



/* This is for Phone View!*/
@media screen and (min-width:320px) and (max-width:758px) {
    .desktopblk {
        display: none;
    }

    .phoneblk {
        display: flex;
    }

    .art1 {
        flex-direction: column;
    }

    .artimage {
        min-height: 250px;
        width: 90%;
    }

    .credit {
        margin-top: 7%;
    }

    .catintro {
        margin-top: 5%;
        margin-bottom: 8%;
    }

    .intro {
        margin-bottom: 5%;
    }

    .infobig {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-bottom: 4%;
    }

    .bigstats {
        flex-direction: column;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .midstats {
        margin-top: 0px;
    }

    .stats {
        display: flex;
        flex-direction: column;
    }

    .paw {
        min-height: 15px;
        width: 15%;
    }

    .mainsec2 {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }

    .box {
        margin-bottom: 5%;
    }

    .otherspecbox {
        margin-bottom: 5%;
    }

    .subsec {
        display: flex;
        flex-direction: column;
    }

    .mainsec3 {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        margin-bottom: 15%;
    }

    .topbox {
        padding-top: 15%;
        margin-bottom: 3%;
    }


    .articleimage {
        height: 60vh;
        width: 90%;
    }

    .curious {
        min-height: 70px;
        min-width: 30%;
        left: 35%;
        top: 0;
        z-index: -100;
    }

    .review2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: small;
        background-color: #ffefd4;
        top: 20px;
        left: 20px;
        border-radius: 50px;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 20px;
    }

    .review2 p {
        margin: 0%;
    }
}

/* This is for Ipad View! */
@media screen and (min-width:758px) and (max-width: 1023px) {
    .desktopblk {
        display: none;
    }

    .ipadblk {
        display: flex;
    }

    .review2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: small;
        background-color: #ffefd4;
        top: 20px;
        left: 20px;
        border-radius: 50px;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 20px;
    }

    .review2 p {
        margin: 0%;
    }

    .art1 {
        flex-direction: column;
    }

    .artimage {
        min-height: 350px;
        width: 90%;
    }

    .credit {
        margin-top: 7%;
    }

    .catintro {
        margin-top: 5%;
        margin-bottom: 8%;
    }

    .intro {
        margin-bottom: 5%;
    }

    .infobig {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-bottom: 4%;
    }

    .chtext {
        margin-bottom: 5%;
    }

    .bigstats {
        margin-left: 5%;
        margin-right: 5%;
    }

    .midstats {
        margin-top: 0px;
    }

    .stats {
        display: flex;
        flex-direction: column;
    }

    .paw {
        min-height: 15px;
        width: 15%;
    }

    .mainsec2 {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }

    .box {
        margin-bottom: 5%;
    }

    .otherspecbox {
        margin-bottom: 5%;
    }

    .subsec {
        display: flex;
        flex-direction: column;
    }

    .mainsec3 {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        margin-bottom: 15%;
    }

    .topbox {
        padding-top: 15%;
        margin-bottom: 3%;
    }


    .articleimage {
        height: 60vh;
        width: 90%;
    }

    .curious {
        min-height: 70px;
        min-width: 30%;
        left: 35%;
        top: 0;
        z-index: -100;
    }
}