@font-face {
    font-family: tangerine;
    src: url(font/tangerine.ttf)
}


header {
    z-index: 10000;
}

h2 {
    color: #6d1f34;
    font-family: tangerine;
    margin: 1%;
    margin-left: 0%;
}

h3 {
    color: #6d1f34;
}

h4 {
    margin: 1%;
}


p {
    font-family: "Comfortaa", sans-serif;
}

body {
    font-family: "tangerine";
    background-color: #ffefd4;
    margin: 0%;
}

.direction {
    display: flex;
    padding: 32px;
}

.arrow {
    padding-left: 10px;
    padding-right: 10px;
}

.sec:hover a {
    text-decoration: underline 1.5px solid;
    text-underline-offset: 3px;
}

.mainsec a {
    text-decoration: underline 1.5px solid;
    text-underline-offset: 3px;
}

.review {
    text-align: center;
    font-size: small;
    color: #6d1f34;
    background-color: #f3e5cc;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;

}

.review p {
    margin: 0%;
}

.art1 {
    margin: 3%;
    display: flex;
}

.artimage {
    position: relative;
    background: url(../img/catgroom.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    min-width: 600px;
    border-radius: 15px;
}

.intro {
    color: #6d1f34;
    padding-left: 30px;
}

.credit {
    color: #6d1f34;
    text-align: center;
    border: solid 1px;
    border-radius: 70px;
    width: fit-content;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.credit p {
    margin: 0%;
}

.abox {
    display: flex;
    position: relative;
}

.cutepopout {
    position: absolute;
    right: 55px;
    top: 35px;
    display: flex;
    padding: 10px;
    gap: 11px;
    align-items: center;
}

.box {
    box-shadow: #f97b6f 7px 7px;
    background-color: #ffaca4;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 2%;
}


.content1 {
    color: #6d1f34;
}

.content2 {
    color: #6d1f34;
    max-width: 800px;
}

.bigbigcontainer {
    display: flex;
    gap: 30px;
}

.verybigcontainer {
    margin: 3%;
}

.nextbigcontainer {
    position: relative;
    display: flex;
    gap: 30px;
    margin: 3%;
    margin-top: 0%;
}

.leftpaw {
    position: absolute;
    top: 150px;
    z-index: 1000;
}

.rightpaw {
    position: absolute;
    top: 150px;
    right: 0px;
    z-index: 1000;
}

.readnext h2 {
    margin-left: 3%;
    padding-top: 50px;
}

.readbox {
    box-shadow: #f97b6f 7px 7px;
    background-color: #ffaca4;
    border-radius: 15px;
    padding: 30px;
    flex: 1;
}

.duration {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #fdefd5;
    background-color: #6d1f34;
    border-radius: 45px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.duration h5 {
    margin: 0%;
    font-weight: 100;
}

.read1 {
    position: relative;
    background: url(../img/catputtoy.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    min-height: 300px;
}

.read2 {
    position: relative;
    background: url(../img/catpawwater.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    min-height: 300px;
}

.read3 {
    position: relative;
    background: url(../img/catfavperson.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    min-height: 300px;
}

.sections {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
    padding-top: 400px;
}

.cat {
    text-align: center;
    color: #ffefd4;
}

.checkoutmore {
    font-size: larger;
    color: #ffefd4;
    background-image: url(../img/checkoutmore.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-top: 80px;
    padding: 20px;
}

.checkheadtxt {
    position: relative;
    top: 360px;
}