.bigbody {
    background-color: #FFACA4;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    min-height: 300px;
}

.direction {
    align-self: left;
}

.roundborder {
    position: relative;
    background: url(../img/roundshape1.png);
    background-size: contain;
    height: 60px;
    z-index: -100;
}

.title {
    display: flex;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    align-self: center;
    justify-content: center;
}

.titlepic {
    border-radius: 20px;
    align-self: center;
}

.titletext {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
}

.titletextsettings {
    color: #FFEFD4;
    margin-bottom: 5px;
}

.bigarticleblock {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.articles {
    display: flex;
    justify-content: space-between;
    column-gap: 2%;
    margin-bottom: 2%;
}

.indiarticle {
    flex: 1;
    background-color: #FEBDB0;
    align-items: center;
    box-shadow: 5px 5px #F97B6F;
    border-radius: 20px;
}

.articleimage {
    display: flex;
    align-items: flex-end;
    border-radius: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
    margin: 5%;
    justify-content: center;
}

.scottishstraight {
    background-image: url(../img/scottishstraightlonghair.jpg);
}

.siamese {
    background-image: url(../img/siamesecat.jpg);
}

.jpbobtail {
    background-image: url(../img/jpbobtaillonghair.jpg);
}

.scotfold {
    background-image: url(../img/scottishfold.jpg);
}

.blksphynx {
    background-image: url(../img/blacksphynx.png);
}

.turkvan {
    background-image: url(../img/turkishvan.jpg);
}

.articletext {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.articlename {
    color: #ffe186;
    text-shadow: 2px 2px 10px black;
    margin-bottom: 5px;
}

@media screen and (max-width:1000px) {
    .articles {
        flex-direction: column;
        margin-bottom: 0%;
    }

    .indiarticle {
        margin-bottom: 5%;
    }
}