@font-face {
    font-family: tangerine;
    src: url(font/tangerine.ttf)
}

h2 {
    font-family: tangerine;
    margin-bottom: 1%;
}

p {
    font-family: "Comfortaa", sans-serif;
    margin-top: 0%;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 100vh;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.imgbox {
    background-image: url("../img/section1.png");
    width: auto;
}

.centered {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.direction {
    z-index: 1;
    position: absolute;
    top: 110px;
    left: 25px;
    display: flex;
}

.arrow {
    padding-left: 10px;
    padding-right: 10px;
}

.sec:hover a {
    text-decoration: underline 1.5px solid;
    text-underline-offset: 3px;
}

.mainsec a {
    text-decoration: underline 1.5px solid;
    text-underline-offset: 3px;
}


body {
    font-family: "tangerine";
    background-color: #ffefd4;
    margin: 0%;
}



.subscribecolor {
    color: #6D1F34;
}

@media screen and (max-width:600px) {
    .newslettercat {
        display: none;
    }

    .promote {
        padding-top: 50px;
    }
}