html {
    height: 100vh;
}

/* This is for the header section. */
header {
    position: sticky;
    top: 0;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    background-color: rgb(249, 123, 111);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 8px;
    align-items: center;
}

.logo {
    padding-top: 7px;
}

.navright {
    color: rgb(109, 31, 52);
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 1px;
}

.label {
    display: flex;
    align-items: center;
    gap: 3px;
}

.labelimg {
    padding-bottom: 3px;
}

.submenu {
    display: none;
    position: absolute;
    min-width: 130px;
    z-index: 1;
}

.submenu a {
    display: block;
    text-align: left;
}

.drop:hover .submenu {
    display: block;
}

.hover {
    background-color: #fae3e1;
    padding: 15px;
}

.hover:hover {
    background-color: #ffaca4;
}


/* This is for header phone-view version.*/
.menu-toggle {
    display: none;
    font-size: 30px;
    color: #6d1f34;
    cursor: pointer;
}

.close-btn {
    position: fixed;
    top: 6px;
    right: 28px;
    display: none;
    font-size: 50px;
    color: #6d1f34;
    cursor: pointer;
}


/* This is for general CSS-styles. */
@font-face {
    font-family: tangerine;
    src: url(tangerine.ttf)
}

h1 {
    font-family: "tangerine";
    margin-bottom: 1%;
    color: #6d1f34;
    font-size: 50px;
}

h2 {
    font-family: "tangerine";
    margin-bottom: 1%;
    color: #6d1f34;
}

h3 {
    font-family: "tangerine";
    margin-bottom: 5%;
    color: #6d1f34;
}

h4 {
    font-family: "tangerine";
    text-align: center;
    margin-bottom: 1%;
    color: #6d1f34;
    font-size: large;
}

p {
    font-family: "Comfortaa", sans-serif;
    margin: 5px;
    color: #6d1f34;
}


body {
    font-family: "tangerine";
    background-color: #ffefd4;
    margin: 0%;
}


a {
    color: #6d1f34;
    text-decoration: none;
}

button.general {
    font-family: "tangerine";
    font-size: medium;
    color: #754b0b;
    background-color: #ffe186;
    box-shadow: 3px 4px #754b0b;
    border: #ffe186 1px solid;
    border-radius: 20px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 8px;
    padding-bottom: 5px;
    cursor: pointer;
}

button.general:hover {
    color: #ffe186;
    background-color: #754b0b;
    border: #754b0b 1px solid;
    box-shadow: 3px 4px #ffe186;
}


/* This is for the title-directions.*/
.direction {
    z-index: 1;
    position: absolute;
    top: 110px;
    left: 25px;
    display: flex;
}

.arrow {
    padding-left: 10px;
    padding-right: 10px;
}

/* This is the Check-Out-More section. */
.checkouttop {
    margin-bottom: -20px;
}

.checkoutmore {
    font-size: larger;
    color: #ffefd4;
    background-color: #6D1F34;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.checkheadtxt {
    position: relative;
    margin-bottom: 130px;
}

.sections {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20%;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 150px;
}

.cat {
    text-align: center;
    color: #ffefd4;
}


/* This is for the footer section. */
footer {
    align-items: center;
}

.footerborder {
    margin-bottom: -25px;
}

.footercontent {
    display: flex;

    justify-content: space-between;
}

.leftfooter {
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
    background-color: #f97b6f;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emailform {
    display: flex;
}

.emailbox {
    color: rgb(109, 31, 52, 0.5);
    background-color: #ffefd4;
    padding: 8px;
    padding-left: 20px;
    border: 1px solid #ffefd4;
    border-radius: 25px;
    display: flex;
    flex: 2;
    font-family: "Comfortaa", sans-serif;
    font-size: small;
    align-items: center;
    justify-content: space-between;
}

.subscribecolor {
    color: #6D1F34;
}

.subscribe {
    font-family: "tangerine";
    font-size: medium;
    color: #ffe186;
    background-color: #6d1f34;
    border-radius: 30px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    align-items: center;
}

.subscribe:hover {
    color: #6d1f34;
    background-color: #ffe186;
}

.newsletter {
    display: flex;
    gap: 30px;
    z-index: 100;
}

.promote {
    text-align: center;
    z-index: 100;
}

.socmed {
    padding-top: 8px;
}


/* This is the Back-To-Top Button */
.backtotop {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 1000;
}

/* This is the media-responsive section. */
@media screen and (max-width:600px) {

    /*Mobile Header*/
    .navright {
        flex-direction: column;
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 60%;
        background-color: #F97B6F;
        justify-content: center;
        z-index: 1000;
        padding-top: 8%;
    }

    .labelimg {
        display: none;
    }

    .drop {
        display: flex;
        align-items: center;
    }

    .drop>a {
        display: block;
    }

    .menu-toggle {
        display: block;
    }

    #menu-checkbox:checked+.menu-toggle+.navright {
        display: flex;
    }

    #menu-checkbox:checked+.menu-toggle+.navright .close-btn {
        display: block;
    }

    .submenu {
        display: block;
        position: static;
    }

    .hover {
        background-color: rgba(250, 227, 225, 0);
    }

    .hover:hover {
        background-color: rgba(250, 227, 225, 0);
    }

    /* For the bottom section of the page. */
    .checkheadtxt {
        margin-top: 50px;
        margin-bottom: 80px;
    }

    .sections {
        flex-direction: column;
    }

    footer {
        align-items: center;
        justify-content: space-between;
    }
}