.cutetext p {
    font-family: tangerine;
    color: #6d1f34;
}

ul.ageclass {
    color: #6d1f34;
    display: flex;
    background-color: #ffbdb0;
    max-width: 430px;
    border-radius: 40px;
    padding: 5px;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 3%;
}

li.subageclass {
    color: #ffefd4;
    border-radius: 35px;
    padding: 7px;
    padding-left: 40px;
    padding-right: 40px;
}

li.subageclass:hover {
    color: #ffefd4;
    background-color: #f97b6f;
    border-radius: 35px;
    padding: 7px;
    padding-left: 40px;
    padding-right: 40px;
}

li {
    list-style: none;
}

.ui-state-active {
    background-color: #f97b6f;
}

.cutepopout {
    margin-left: 3%;
    display: flex;
    padding: 10px;
    gap: 11px;
}

.bigbigcontainer {
    display: flex;
    gap: 30px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1.8%;
    justify-content: center;
}

.box {
    box-shadow: #f97b6f 7px 7px;
    background-color: #ffaca4;
    border-radius: 15px;
    padding: 30px;
}

.content {
    max-width: 600px;
    color: #6d1f34;
}

img.content {
    border-radius: 10px;
}


div.imagebox1 {
    background-image: url(../img/catnpill.jpeg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;

}

div.imagebox2 {
    background-image: url(../img/catfleas.jpeg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;
}


div.imagebox3 {
    background-image: url(../img/firstaidcat.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;
}

div.imagebox4 {
    background-image: url(../img/catpanting.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;

}

div.imagebox5 {
    background-image: url(../img/catsunflower.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;
}


div.imagebox6 {
    background-image: url(../img/catcone.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;
}


div.imagebox1-2 {
    background-image: url(../img/catconstipation.jpeg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;

}

div.imagebox2-2 {
    background-image: url(../img/catpregnancy.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;
}


div.imagebox3-2 {
    background-image: url(../img/earmites.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;
}

div.imagebox4-2 {
    background-image: url(../img/catvaccine.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;

}

div.imagebox5-2 {
    background-image: url(../img/catmouthopen.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;
}


div.imagebox6-2 {
    background-image: url(../img/catindoorrabiesshot.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;
}



div.imagebox1-3 {
    background-image: url(../img/catspay.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;

}

div.imagebox2-3 {
    background-image: url(../img/catringworm.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;
}


div.imagebox3-3 {
    background-image: url(../img/cattail.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;
}

div.imagebox4-3 {
    background-image: url(../img/catliverdisease.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;

}

div.imagebox5-3 {
    background-image: url(../img/catprobiotics.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;
}


div.imagebox6-3 {
    background-image: url(../img/catheartdisease.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;
}



@media screen and (max-width:800px) {
    .bigbigcontainer {
        flex-direction: column;
        padding-top: 13px;
    }
}