.banner {
    background-image: url(../img/purrfactscats.png);
    background-color: #ffaca4;
    background-size: cover;
    background-position: center;
    min-height: 610px;
}

.roundborderfooter1 {
    background: url(../img/roundshapetrans.png);
    position: relative;
    background-size: contain;
    height: 60px;
}

.centered {
    z-index: 1;
    text-align: center;
    margin: 0px;
    padding: 90px;
}

h1 {
    margin: 0px;
}

.p1 p {
    margin-bottom: 0%;
}

.para p {
    margin-bottom: 0%;
}

.para {
    display: none;
}

.parent {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.column {
    margin: 10px;
    border-radius: 20px;
    align-items: center;
    background-color: #f97b6f;
    padding: 17px;
    flex: 1;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}


.info {
    margin: 5%;
}

.article {
    margin: 10px;
    border-radius: 20px;
    align-items: center;
    padding: 5px;
    flex: 1;
}

.homeicon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.img1 {
    background-image: url(../img/catgroom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.img2 {
    background-image: url(../img/catnpill.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

/* mobile view */
@media screen and (max-width:800px) {

    .info {
        text-align: center;
    }

    .parent {
        flex-direction: column;
        align-items: center;
    }

    .column {
        justify-content: center;
        width: 300px;
        margin: 10px;
    }

    .banner {
        background-color: #ffaca4;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        min-height: 300px;
    }

    .centered {
        justify-content: center;
        align-items: center;

    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 15px;
    }

    .para {
        margin-top: 10%;
        margin-bottom: 10%;
        display: block;
        z-index: 1;
        text-align: center;
        align-items: center;
    }

    .roundborderfooter {
        background: url(../img/roundshapetrans.png);
        position: relative;
        background-size: contain;
        height: 60px;
    }

    .p1 {
        display: none;
    }

}