.bigbody {
    background-color: #FFACA4;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    min-height: 300px;
}

.direction {
    align-self: left;
}

.roundborder {
    position: relative;
    background: url(../img/roundshape1.png);
    background-size: contain;
    height: 60px;
    z-index: -100;
}

.title {
    display: flex;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    align-self: center;
    justify-content: center;
}

.titlepic {
    border-radius: 20px;
    width: 95%;
}

.imagesettings {
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.titletext {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
}

.titletextsettings {
    color: #FFEFD4;
    margin-bottom: 5px;
}

.dtarticleblock {
    padding-top: 5%;
    padding-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

.bigarticleblock {
    display: flex;
    justify-content: space-between;
    column-gap: 2%;
}

.article {
    flex: 1;
    background-color: #FEBDB0;
    align-items: center;
    box-shadow: 5px 5px #F97B6F;
    border-radius: 20px;
    margin-bottom: 3%;
}

.phoneblk {
    display: none;
}

.phonetggl {
    display: none;
}

.articleimage {
    display: flex;
    align-items: flex-end;
    height: 400px;
    text-align: center;
    margin: 5%;
    justify-content: center;
}

.piebaldtuxedo {
    background-image: url(../img/piebaldtuxedo.png);
}

.tortietomcats {
    background-image: url(../img/tortietomcats.png);
}

.coattemperament {
    background-image: url(../img/coattemperament.png);
}

.chimerism {
    background-image: url(../img/chimerism.png);
}

.domblueeye {
    background-image: url(../img/domblueeye.png);
}

.tabbytaqpep {
    background-image: url(../img/tabbytaqpep.png);
}

.articletext {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.articlename {
    color: #ffe186;
    text-shadow: 2px 2px 10px black;
    margin-bottom: 5px;
}

/* This is for Phone View!*/
@media screen and (min-width:320px) and (max-width:758px) {
    .desktopblk {
        display: none;
    }

    .phoneblk {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .phonetggl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1%;
        margin-left: 8%;
        margin-right: 8%;
    }

    .phtitletext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: -2%;
        margin-bottom: -3%;
    }

    .bigarticleblock {
        padding-top: 5%;
        padding-bottom: 3%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .article {
        margin-bottom: 10%;
    }

    .articleimage {
        height: 300px;
        text-align: center;
        margin: 8%;
        margin-bottom: 0%;
        justify-content: center;
        background-size: cover;
        background-position: 50% 20%;
    }

    .articletext {
        display: flex;
        align-items: center;
        margin-top: 2%;
        margin-bottom: 8%;
    }

    .articlename {
        color: #6d1f34;
        text-shadow: none;
    }
}