@font-face {
    font-family: tangerine;
    src: url(font/tangerine.ttf)
}

h2 {
    font-family: tangerine;
    margin-bottom: 1%;
}

p {
    font-family: "Comfortaa", sans-serif;
    margin-top: 0%;
}

body {
    font-family: "tangerine";
    background-color: #ffefd4;
    margin: 0%;
}

.direction {
    display: flex;
    padding: 32px;
}

.arrow {
    padding-left: 10px;
    padding-right: 10px;
}

.sec:hover a {
    text-decoration: underline 1.5px solid;
    text-underline-offset: 3px;
}

.mainsec a {
    text-decoration: underline 1.5px solid;
    text-underline-offset: 3px;
}

.age {
    color: #6d1f34;
    text-align: center;
}

.ageclass {
    display: flex;
    background-color: #ffbdb0;
    max-width: 380px;
    padding: 5px;
    border-radius: 40px;
    justify-content: space-between;
    margin-left: 39%;
}

.mainageclass {
    color: #ffefd4;
    background-color: #f97b6f;
    border-radius: 35px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.otherageclass:hover {
    color: #ffefd4;
    background-color: #f97b6f;
    border-radius: 35px;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
}

.otherageclass {
    color: #f97b6f;
    background-color: #ffbdb0;
    border-radius: 35px;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
}

.cutepopout {
    margin-left: 3%;
    display: flex;
    padding: 10px;
    gap: 11px;
    align-items: center;
}

.bigbigcontainer {
    display: flex;
    gap: 30px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1.8%;
}

.outsidebox {
    background-color: #f97b6f;
    border-radius: 15px;
}

.box {
    position: relative;
    right: 5px;
    bottom: 5px;
    background-color: #ffaca4;
    border-radius: 15px;
    padding: 30px;
}

.content {
    max-width: 600px;
    color: #6d1f34;
}

img.content {
    border-radius: 10px;
}

button.general {
    font-family: "tangerine";
    font-size: medium;
    color: #754b0b;
    background-color: #ffe186;
    border: #ffe186 1px solid;
    border-radius: 20px;
    padding: 7px;
    padding-left: 28px;
    padding-right: 28px;
    position: relative;
    bottom: 3px;
    align-items: center;
}

div.general {
    max-width: fit-content;
    border-radius: 20px;
    background-color: #754b0b;
}

div.imagebox1 {
    background-image: url(img/catgroom.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;

}

div.imagebox2 {
    background-image: url(img/cat\ fight.jpeg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;
}


div.imagebox3 {
    background-image: url(img/cat\ knead.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;
}

div.imagebox4 {
    background-image: url(img/coat\ colour.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;

}

div.imagebox5 {
    background-image: url(img/cat\ on\ table.jpeg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;
}


div.imagebox6 {
    background-image: url(img/catandtail.jpeg);
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 10px;
}

.general:hover {
    background-color: #754b0b;
    border: 1px #754b0b;
    color: #ffe186;
    align-items: center;
}

.sections {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
    padding-top: 400px;
}

.cat {
    text-align: center;
    color: #ffefd4;
}

.checkoutmore {
    font-size: larger;
    color: #ffefd4;
    background-image: url(img/checkoutmore.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-top: 80px;
    padding: 20px;
}

.checkheadtxt {
    position: relative;
    top: 360px;
}



@media screen and (max-width:600px) {
    .bigbigcontainer {
        flex-direction: column;
        padding-top: 13px;
    }

    .sections {
        flex-direction: column;
    }

    .newslettercat {
        display: none;
    }

    .container {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .promote {
        padding-top: 50px;
    }
}